/*header */
.logo{
    float:left;
    width: 175px;
    height: 50px;

}
/* nav */
.navbar {

    width: 1519px;

    height: 50px;

    background-color: white;

    box-shadow: 0 -2px 2px white;



}

.navbar ul {

    list-style: none;

}

.navbar ul li{

    float: left;

    width: 191px;

    height: 50px;

    background: #222;

    margin-right: 1px;

    font-size: 7px;

}

.navbar ul li:hover {

    color: #fff;

    background: rgba(238, 82, 83, 1);

    animation: changeColor 2s infinite;

    animation-delay: 3s;

}

@keyframes changeColor {

    0% {background-color: #1d84b5;}

    50% {background-color: #00cecb; }

    100% {background-color: #1d84b5;}

}

.navbar ul li a{

    text-decoration: none;

    color: #fff;

    display: block;

    text-align: center;

    line-height: 50px;

    font-weight: bold;

    text-transform: uppercase;

}

.navbar ul li ul li {

    display: none;

    width: 190px;

    height: 50px;

    float: initial;

    background: rgba(1, 163, 164, 1);

    font-size: 10px;

    transition: 0.3s;

}

.navbar ul li:hover ul li {

    display: block;

    border-top: 1px solid rgba(72, 219, 251, 0.5);

}

/*Slogan*/
.slogan{
    width: 100%;
    height: 400px;
    list-height: 40px;
    background-color: RGB(220,237,193);
    font-size: 14px;
    background-image: url("../images/phto.png");
    background-repeat:no-repeat;
    background-position: right;
    font-family:"Times New Roman",Georgia,Serif;
    font-size: 55px;
}
.slogan p{
    margin-left: 300px;
    color: rgb(255,131,124);
}


.container{
    background-color: cornsilk;
    font-size: 100px;
    float: left;
    color: cadetblue;
}
.wrap{
    width: 900px;
    margin: 0 auto;

}
/*Banner */
.banner{
    width: 100%;
    height: 650px;
    background-color: RGB(255,211,182);
    background-size: 100%;
}
.banner-box{
    width: 1000px;
    height: 650px;
    background-color: cadetblue;
    background-image: url('../images/Keel Billed Toucan1.jpeg');
    background-size: 100%;
    animation: banner 6s linear infinite;


}
.banner-box:hover{
    animation-play-state: paused;
}
@keyframes banner {
    0% {
        background-image: url('../images/Keel Billed Toucan1.jpeg');
    }
    50% {
        background-image: url('../images/Squirrel monkey1.jpeg');
    }
    100% {
        background-image: url('../images/Taunting the Jaguar1.jpeg');
    }
}

/*fill*/
.container1{
    height: 1000px;
    width: 100%;
    background: cornsilk;
}

.container2{
    height: 1000px;
    width: 100%;
    background: #6dc7ec;
}

/*Navi */
#nav {
    font-family: arial, sans-serif;
    position: relative;
    width: 390px;
    height:56px;
    font-size:14px;
    color:#999;
    margin: 0 auto;
}
#nav ul {
    list-style-type: none;
}
#nav ul li {
    float: left;
    position: relative;
}
#nav ul li a {
    text-align: center;
    border-right:1px solid #e9e9e9;
    padding:20px;
    display:block;
    text-decoration:none;
    color:#999;
}
#nav ul li ul {
    display: none
}
#nav ul li:hover ul {
    display: block;
    position: absolute;
}
#nav ul li:hover ul li a {
    display:block;
    background:#12aeef;
    color:#ffffff;
    width: 110px;
    text-align: center;
    border-bottom: 1px solid #f2f2f2;
    border-right: none;
}
#nav ul li:hover ul li a:hover {
    background:#6dc7ec;
    color:#fff;
}

/*bot */
.bottom{

    height: 332px;
    width: 100%;
    background:black;
}
.contactus{
    background: rgba(22,27,29);
    height: 332px;
    width:506px;
    float: left;
    color: rgba(229,239,193);

}
.helpus{
    height: 332px;
    width:506px;
    float: left;
    background: rgba(206,234,211);
    color: rgba(42,54,59);
}
.followus{
    height: 332px;
    width:506px;
    float: left;
    background: rgba(37,113,95);
    color: white;
}

.bottom ul{
    margin: 0 auto;
    font-size: 38px;
    font-family: 'Ubuntu', sans-serif;
    text-align:center;
}
/*About page */
.abouthead{
    height: 300px;
    width: 1519px;
    background-image: url('../images/lizard.jpg');
    background-size: 100%;
}

.abouthead span{
    font-size: 70px;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(42,54,59);
    position: absolute;
    top: 250px;
    left: 50px;
}
.aboutcontainer1{
    height: 500px;
    width: 1519px;
}
.aboutcontainer1 .title p{
    font-size: 33px;
    position: relative;
    font-family:"Candara Light",sans-serif;
    font-weight: bold;
    color: rgba(42,54,59);
    width: 230px;
    top: 110px;
    left: 130px;
}

.aboutcontainer1 .content p{
    width: 700px;
    font-size: 21px;
    position: relative;
    font-family:"Candara Light",sans-serif;
    left: 400px;
}

.aboutcontainer2{
    height: 792px;
    width: 1519px;;
    background-image: url("../images/monkey.jpg");
    background-size: 100%;
}

.aboutcontainer2 div{
    width: 800px;
    height: 600px;
    background-color: rgba(229,239,193);
    position: relative;
    top: 80px;
    left: 400px;
    font-family:"Candara Light",sans-serif;
    font-size: 17px;

}
