*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    border: white;
    box-shadow: 1px 3px;
    background: rgba(197,239,253);

}


/*header start*/
.header{
    color: white;
}

.header .logo{
    float: left;
    height: 200px;
    position: absolute;
    top: 40px;
    left: 1px;
}
.header a{
    color: inherit;
}
.header .email{
    position: absolute;
    top: 1vh;
    left: 20px;
    border-bottom: solid white 1px;
}

.header .phone{
    position: absolute;
    top: 1.3vh;
    left: 220px;

}

.header button:hover{
    background-color: #a38bdb;
    cursor: pointer;
}

.header .donate{
    position: absolute;
    height: 30px;
    width: 130px;
    font-size: 10px;
    right: 20px;
    top: 30px;
}
.header .volunteer{
    position: absolute;
    height: 30px;
    width: 150px;
    font-size: 10px;
    right: 20px;
    top: 70px;
}
/*header end*/

/*navi-bar start*/
.navi-bar{
    width: 100%;
    height: 250px;
    background-color: rgba(15,116,187);
}
.navi-bar .nav{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    font-family: "Trebuchet MS";
    font-size: 20px;

}

.navi-bar .nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    top: 100px;
    width: 100%;
    height: 20%;

}
.navi-bar .nav ul > li{
    width: 100%;
    height: 100%;

}
.navi-bar .nav ul > li > a{
    display: block;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 70px;
    color: white;

}
.navi-bar .nav ul > li ol{
    width: 80%;
    background-color: white;
    transform: scaleY(0);
    transform-origin: 50% 0;
    transition: all 0.6s;
}
.navi-bar .nav ul > li:hover{
    text-decoration: underline;
}
.navi-bar .nav ul > li:hover ol{
    transform: scaleY(1);
}
.navi-bar .nav ul > li ol li:hover{
    background-color: rgba(15,116,187);
}
.navi-bar .nav ul > li ol a{
    line-height: 30px;
    color: black;
}
/*navi-bar end*/

.container{
    width: 100%;
    height: 600px;
    background-image: url("../images/background_kid.jpg");
    background-size: cover;

}

h2, p {
  color: #0F74BB
}

.information{
  margin-left: 750px;
  padding: 25px;
}

.button1{
    position: absolute;
    left: 10%;
    top: 58%;
    background-color: #FAC710;
    color: #0F74BB;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    width: 200px;
    height: 50px;

}


.events{
    width: 100%;
    height: 300px;
  background-color: #FAC710;
    padding: 25px;
}

.events .gallery-img {
 max-width: 17%;
 margin-left: 180px;

}




/*bottom start */
.bottom{
    height: 300px;
    width: 100%;
    background:rgba(15,80,126);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom span{
    color: rgba(255,222,1);
    padding: 8px;
    font-family: 'Ubuntu', sans-serif;;
}
.bottom i{
    color: white;
}
.bottom p{
    color: white;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;;
}
.bottom a:hover{
    text-decoration: underline;
}
/*bottom end */